body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eef6ff;
  
}

.container {
    display: flex;
    

}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #2f80ed;
  color: white;
  height: 1100px;
  padding: 20px;
  text-decoration: none;
  
  
  
}

.sidebar ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.sidebar li {
  padding: 15px 0;
  cursor: pointer;
 text-decoration: none;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}

.search-box {
  display: flex;
  margin: 20px 0;
  
}

.search-box input {
  width: 400px;
  padding: 10px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 15px;
  border: none;
  background: #2f80ed;
  color: white;
  border-radius: 0 8px 8px 0;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 10px;
}

.card img {
  border-radius: 50%;
  width: 100px;
}

.card button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #2f80ed;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

h1{
  text-align:center ;
  font-style: initial;
  color: black;
  background-color: rgba(15, 132, 83, 0.707);
  padding: 25px;
 
}

.medora-footer {
  
  background: #0b3c5d;
  color: #dbd5d5;
  font-family: Arial, sans-serif;
  
  

  
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  padding: 50px;


 
}

.footer-box h3 {
  margin-bottom: 15px;
  color: #4fd1c5;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 8px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #ddd;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #4fd1c5;
}

.logo {
  color: #4fd1c5;
}

.emergency {
  margin-top: 15px;
  font-weight: bold;
  color: #ffcc00;
}

.emergency span {
  color: #fff;
}

.social a {
  font-size: 22px;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  background: #07293da8;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-bottom p {
  margin: 0;
}

.legal a {
  color: #ccc;
  margin-left: 15px;
  text-decoration: none;
  font-size: 14px;
}

.legal a:hover {
  color: #4fd1c5;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .legal {
    margin-top: 10px;
  }
}
.about{
  background-color: #ddddddb6;
  padding: 5px;
  margin-top: 0%;
  margin-bottom: 5px;
}
.date{
  font-size: 14px;
  font-weight: 600;
  color: #2c3e50;
  margin-top: 0;
  margin-left: 65%;

}
.settings-page {
  margin-left: 100px;
  padding: 30px;
}

.settings-page h2 {
  margin-bottom: 30px;
}

.settings-page label {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 15px;
}

.save-btn {
  padding: 10px 20px;
  background: #2d7ff9;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
 margin-top: 200px;
 margin-left: 300px;
}
.home {
  margin-left: 60px;
  padding: 30px;
  font-family: sans-serif;
}

.home-header {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 20px;
  background: #2d7ff9;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.section-title {
  margin: 20px 0 10px;
}

.categories,
.services {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.cat-card,
.service-card {
  padding: 15px;
  background: #f4f7ff;
  border-radius: 10px;
  cursor: pointer;
}

.doctor-list {
  display: flex;
  gap: 20px;
}

.doctor-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.doctor-card button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background: #2d7ff9;
  color: #fff;
  border: none;
  border-radius: 6px;
}

.appointments {
  display: flex;
  gap: 15px;
}

.appt-card {
  background: #eef4ff;
  padding: 10px 15px;
  border-radius: 8px;
}

.emergency {
  margin-top: 30px;
  padding: 20px;
  background: #5972a96c;
  border-radius: 12px;
}

ol li {
  padding: 10px;
}



