body{
   

    display: flex;
    justify-content: center;

    height: 100vh;
    background-color: rgb(231, 234, 248);
    
}

.box{
    position: relative;
    width: 600px;
    height: 700px;
    background-color: black;
    font-size: x-large;
    overflow: hidden;

}

.box form{
    position: absolute;
    inset: 4px;
    background-color: blue;
    padding-left: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: rgb(15, 2, 2);
    background-color:white;
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, blue,blue,blue);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;

}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, blue,blue,blue);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: -3s;

}

.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, red,red,red);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: 1.5s;
}

.borderline::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 800px;
    height: 700px;
    background: linear-gradient(0deg,transparent,transparent, red,red,red);
    z-index: 1;
    transform-origin: bottom right;
    animation: ani 6s linear infinite;
    animation-delay: 4.5s;
}
@keyframes ani{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}
#for{
    height: 25px;
    width: 300px;
    border-radius: 5px;
    background-color: transparent;
    border: solid black 1px;
}
.mah{
    width: 600px;
    height: 1px;
        

  
}

h2{
    text-align: center;
    color: blue;
    
    
}



p{
    text-align: center;
}

.two{
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 80px;
    height: 30px;
    border: 2px solid black;
    width: 280px;
    height: 35px;
    font-weight: bolder;
    font-size: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    
}

h6{
    text-align: center;
}

.gang{
    width: 300px;
    height: 50px;
    background-color: transparent;
}
.mus{
    flex-direction: column;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:xxx-large;
}
label{
    display: inline-block;
    width: 130px;
}

